/* DEVELOPMENT CODE */
/*
#0055f2
#ff5100
#f23078
#432bfd

background: linear-gradient(95deg, rgba(210,148,0,1) 0%, rgba(180,48,0,1) 55%);
*/








/* Dev PlaceHolder */
html{
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
}
 
html{
    height: 100vh;
    width: 100vw;
    background-image: url(./Images/hero.webp);
    background-repeat:no-repeat;
    background-size:100vw 100vh;
    overflow: hidden;
    
}


#herotext1{
    font-family: 'Inter', sans-serif;
    width: clamp(200px, 100vw, 650px);
    font-weight: 600;
    color: #fff;
    font-size: clamp(1.3rem, 2vw, 4rem);
    margin: auto;
    padding: 20px;
    margin-top: 30vh;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.95);
    box-sizing: border-box;
    text-align: center;
}


#herotext2{
    font-family: Roboto; 
    width: clamp(200px, 100vw, 380px);
    font-weight: 600;
    color: #ddd;
    font-size: clamp(0.8rem, 1.5vw, 1rem);;
    margin: auto;
    padding: 20px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
    box-sizing: border-box;
    text-align: center;
}

#heroWIP a {
    background-color: aliceblue;
    padding: 10px 20px;
    color: black;
    font-weight: bold;
    transition: 0.3s;
    text-align: center;
}

#heroWIP a:hover {
    background-color: #2211cf;
    color: white;
}


#links{
    margin: auto;
    width: clamp(200px, 100vw, 310px);
}


















/*   MAIN  */
/*   Resetting the CSS   */
h1, h2, h3, h4, p, li {
    font-family: Roboto; 
}

body, html {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}

a:visited{
    color: #fff;
}

a{
    text-decoration: none; 
}

/*
body{
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
}
*/




/*   Variables   */
body{
    --sidebarwidth: clamp(250px,40vw,370px);
}





#main{
    width: calc(100vw - var(--sidebarwidth));
    height: 100vh;
    overflow-y: scroll;
/*    overflow-x: hidden;*/
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}


h1 {
    color: white;
    font-size: clamp(25px,2.5vw,35px);
}

h2 {
    color: white;
    font-size: clamp(20px,1.8vw,30px);
}




/*   NAVIGATION   */
#nav {
    width: var(--sidebarwidth);
    height: 100vh;
    background-color: #010101;
    text-align: center;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.95);
    z-index: 2;
    border: 1px solid #000;
    box-sizing: border-box;
}

#nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#nav ul li{
    font-weight: 600;
    color: #fff;
    font-size: clamp(20px, 3vw, 26px);
    width: var(--sidebarwidth);
    padding: 20px;
    box-sizing: border-box;
    margin: 0;
    text-transform: uppercase;
    transition: 0.3s;
    text-decoration: none;
}

#nav ul li:hover{
    background: #333;
}

#nav ul li:active{
    background: #432bfd;
}

#logo {
    margin: auto;
    padding: 70px 0;
    cursor: pointer;
}




/*   Hero   */
#hero {
    height: 100vh;
    background-image: url(./Images/hero.webp);
    background-size: cover;
    position: relative;
    scroll-snap-align: start;
}

#herotext{
    max-width: 500px;
    font-weight: 600;
    color: #fff;
    font-size: 36;
    margin: 5vw;
    position: absolute;
    bottom: 0;
    left: 0;
}




/* Photography Section */
#photography {
    height: 100vh;
    overflow: hidden;
    scroll-snap-align: start;
}

#photocontainer {
    max-width: calc(100vw - var(--sidebarwidth));
    display: flex;
}

#photocontainer #photo{
    width: calc(calc(100vw - var(--sidebarwidth))/16);
    height: 100vh;
    flex-grow: 1;
    filter: grayscale(1);
    transition: 0.15s ease-in-out;
}
    
#photocontainer #photo:hover{
    flex-grow: 10;
    filter: grayscale(0);
    box-shadow: 0px 4px 10px #000000;
}

#photo a img {
    background-size:contain;
}




/* Design Section */
#designs {
    height: 100vh;
    background-image: url(./Images/photo_2021-09-06_00-45-22.jpg);
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
}

span {
    background: linear-gradient(95deg, rgba(0,103,210,1) 0%, rgba(51,0,180,1) 55%);
    padding: 5px 20px;
    color: white;
    font-size: 4vw;
    border-radius: 3px;
}




/* Code Section */
#code {
    min-height: 100vh;
    background-image: url(./Images/photo_2021-09-06_00-45-41.jpg);
    background-size: cover;
    scroll-snap-align: start;
    padding: 60px;
    padding-bottom: 200px;
    border-bottom: 10px solid;
    border-image: linear-gradient(95deg, rgba(0,103,210,1) 0%, rgba(51,0,180,1) 55%) 1;
    box-sizing: border-box;
}

#codelinks {
    display: flex;
    flex-wrap: wrap;
}

#codelinks a {
    background-color: #010101;
    margin: 10px;
    padding: 20px 50px;
    text-align: center;
    color: white;
    font-family: Roboto; 
    font-weight: bold;
    font-size: clamp(15px,2vw,20px);
    transition: 0.3s;
    border-radius: 3px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.55);
    min-width: 80px;
    flex-grow: 1;
    transition: 0.1s
}

#codelinks a:hover{
    background-color: #0055f2;
    box-shadow: 0px 4px 20px rgba(0, 125, 255, 0.55);
    flex-grow: 2;
}




/* CSS Section */
#css {
    min-height: 100vh;
    background-image: url(./Images/photo_2021-09-06_00-45-41.jpg);
    background-size: cover;
    scroll-snap-align: start center;
    padding: 60px;
    padding-bottom: 400px;
    box-sizing: border-box;
}

#csslinks {
    display: flex;
    flex-wrap: wrap;
}

#csslinks a {
    background-color: #010101;
    margin: 10px;
    padding: 20px 50px;
    text-align: center;
    color: white;
    font-family: Roboto; 
    border-radius: 3px;
    font-weight: bold;
    font-size: clamp(15px,2vw,20px);
    transition: 0.3s;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.55);
    min-width: 80px;
    flex-grow: 1;
    transition: 0.1s
}

#csslinks a:hover{
    background-color: #432bfd;
    box-shadow: 0px 4px 20px rgba(55, 25, 205, 0.55);
    flex-grow: 2;
}
