/* DEVELOPMENT CODE */

h1, h2, h3, h4, p, li {
    font-family: Roboto; 
}

body, html {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}


html{
    background-color: #428BFF;
    background-image: url(MacBook%20Pro%20-%201.png);
    background-repeat: no-repeat;
    
}

body{

    /*Centering the main div*/
    display: grid;
    justify-content: center;/*This centers it horizontially*/
    align-items: center;
    opacity: 1;
    grid-template-areas: "nav content";
    display: flex;
}

#hide{
    max-width: 800px;
    background-color: aliceblue;
    padding: 40px;
    border-radius: 5px;
    border: 1px solid darkgrey;
    box-sizing: border-box;
    display: none;
}

r{
    font-size: 14px;
    color: #333;
}


/*   MAIN  */
#nav {
    width: 370px;
    height: 100vh;
    background-color: #010101;
    
    text-align: center;
    position: sticky;
}

#nav p{
    font-weight: 600;
    color: #fff;
    font-size: 26;
    width: 370px;
    padding: 20px;
    box-sizing: border-box;
    margin: 0;
    text-transform: uppercase;
}


#main{
    width: calc(100vw - 370px);
    height: 100vh;
}

#logo {
    margin: 70px auto;
}

#hero {
    height: 100vh;
    background-image: url(./Images/photo_2021-09-06_00-45-45.jpg);
    position: relative;
    
}

#herotext{
    font-weight: 600;
    color: #fff;
    font-size: 36;
    margin: 60px;
    width: 500px;
    
    position: absolute;
    bottom: 0;
    left: 0;
    
}


#photography {
    height: 100vh;
    background-image: url(./Images/photo_2021-09-06_00-45-45.jpg);
    height: 100vh;
    background-image: url(./Images/photo_2021-09-06_00-45-45.jpg);
    
}

#designs {
    height: 100vh;
    background-image: url(./Images/photo_2021-09-06_00-45-45.jpg);
    
}

#javascript {
    height: 100vh;
    background-image: url(./Images/photo_2021-09-06_00-45-45.jpg);
    
}

#css {
    height: 100vh;
    background-image: url(./Images/photo_2021-09-06_00-45-45.jpg);
    height: 100vh;
    background-image: url(./Images/photo_2021-09-06_00-45-45.jpg);
    
}
