/*   RC Portfolio Website   */
/*   Variables   */
body {
/*    --sidebarwidth: clamp(250px,40vw,370px);*/
    --sidebarwidth: 0px;
}



/*   Resetting the CSS   */
body, html {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, p, li {font-family: Roboto;}

a:visited, h1, h2 {color: #fff;}

a {text-decoration: none;}

h1 {font-size: clamp(25px,2.5vw,35px);}

h2 {font-size: clamp(20px,1.8vw,30px);}



/*   General   */
html {
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
    height: 100vh;
    width: 100vw;
    background-repeat:no-repeat;
    background-size:100vw 100vh;
    overflow: hidden;
    background: #222;
    background: linear-gradient(180deg, rgba(2,0,2,1) 0%, rgba(24,24,24,1) 90%);
}

#main {
    width: calc(100vw - var(--sidebarwidth));
    height: 100vh;
    overflow-y: scroll;  
    scrollbar-color: #f404 #222;
    scrollbar-width: thin;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.links {
    display: flex;
    flex-wrap: wrap;
}

.links a {
    background-color: #010101;
    margin: 10px;
    padding: 20px 50px;
    text-align: center;
    color: #fff;
    font-family: Roboto; 
    font-weight: bold;
    font-size: clamp(15px,2vw,20px);
    transition: 0.3s;
    border-radius: 3px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.55);
    min-width: 80px;
    flex-grow: 1;
    transition: 0.1s
}

.links a:hover {
    background-color: #0055f2;
    box-shadow: 0px 4px 20px rgba(0, 125, 255, 0.55);
    flex-grow: 2;
}

.container {
    min-height: 100vh;
    overflow: hidden;
    scroll-snap-align: start center;
    background-size: cover;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,2,1) 0%, rgba(24,24,24,1) 90%);
    background: url(./Images/Background.webp);
    padding: 60px;
    padding-bottom: 200px;
    border-bottom: 10px solid;
    border-image: linear-gradient(90deg, rgba(255,81,0,1) 0%, rgba(46,9,121,1) 49%, rgba(11,0,191,1) 97%) 1;
    box-sizing: border-box;
}



/*   Hero Section   */
#hero {
    height: 100vh;
    background-image: url(./Images/Hero.webp);
    background-size: cover;
    position: relative;
    scroll-snap-align: start;
    padding: 60px;
    padding-bottom: 200px;
    border-bottom: 10px solid;
    border-image: linear-gradient(90deg, rgba(255,81,0,1) 0%, rgba(46,9,121,1) 49%, rgba(11,0,191,1) 97%) 1;
    box-sizing: border-box;
}

#herotext {
    font-family: 'Inter', sans-serif;
    max-width: 500px;
    font-weight: 600;
    color: #fff;
    font-size: 36;
    margin: 5vw;
    position: absolute;
    bottom: 0;
    left: 0;
}



/*   Photos Section   */
#photocontainer {
    max-width: calc(100vw - var(--sidebarwidth));
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 60vh;
}

#photocontainer #photo {
/*    width: calc(calc(100vw - var(--sidebarwidth))/16);*/
    width: 300px;
/*    height: 100vh;*/
    flex-grow: 1;
    filter: grayscale(1);
    transition: 0.15s ease-in-out;
}
    
#photocontainer #photo:hover {
    flex-grow: 20;
    filter: grayscale(0);
    box-shadow: 0px 4px 10px #000000;
    max-width: auto;
}

#img {
    background-size: cover;
    background-position: center center;
    max-width: 100%;
}