@charset "UTF-8";
/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  overflow-x: hidden;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    font-size: 100%;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    overflow-x: hidden;
}

/* Make images easier to work with */
img {
    display: block;
    max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}



/*--------------------Personal Code--------------------*/

/*----------Basic Setup----------*/
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto');

/* Variables */
:root {
    --color-bright-navy-blue: #027BCE;
    --color-oxford-blue: #004;
    --color-orange: #FF331F;
    --color-font-secondary: #FFFFFF;
    --regular-text-color: #000000;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-oxford-blue);
/*  https://www.pexels.com/photo/close-up-photo-of-water-1350197/  */
    background: url(https://images.pexels.com/photos/1350197/pexels-photo-1350197.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat;
/*  https://www.pexels.com/photo/pink-and-yellow-neon-lights-in-dark-room-3864610/ */
/*    background: url(https://images.pexels.com/photos/3864610/pexels-photo-3864610.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);*/
    background-size: cover;
    scroll-behavior: smooth;
}

a{
    color: var(--color-bright-navy-blue);
}


/*----------Header----------*/
.link-github svg {
  width: 1em;
  height: 1em;
  margin: auto;
  fill: currentColor;
}

.skip-link {
    padding: 10px 20px;
    margin-left: 4vw;
    background: var(--color-orange);
    color: white;
    font-weight: bold;
    text-align: center;
    width:800px;
    text-decoration: none;
}


/* Header format */
header{
    padding: 40px 70px 40px 70px;
    border: 1px solid #aaa;
    margin: 0 auto;
    margin-top: clamp(0px, 5vw, 100px);
    width: clamp(400px, 90vw, 1200px);
    background: rgb(255,255,255,0.7);

    /* Setting up the glassmorphic design */
    backdrop-filter: blur(30px) saturate(2);
}

header div h1 {
    font-weight: 400;
    font-size: 3vw;
    padding-left: 1ch;
}

header div h2 {
    font-size: 4vw;
    font-size: clamp(1rem,4.5vw,3.5rem);
    max-width: 24ch;
    line-height: 1.1;
    
    /* Text gradient setup */
    background: linear-gradient(90deg, hsla(0, 100%, 50%, 1) 0%, hsla(29, 100%, 50%, 1) 100%);  
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header .link-github {
    padding: 10px 20px;
    background: var(--color-orange);
    color: white;
    font-weight: bold;
    display: block;
    text-align: center;
    width:fit-content;
    text-decoration: none;
}


/*----------Navigation bar----------*/
nav ul {
    list-style-type: none;
    margin: auto;
    width: clamp(400px, 90vw, 1200px);
    padding: 0;
    overflow: hidden;
    background-color: var(--color-oxford-blue);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

nav ul li {
  float: left;
}

nav ul li a {
    display: block;
    color: var(--color-font-secondary);
    text-align: center;
    margin: 20px 10px;
    text-decoration: none;
    transition: 0.1s;
    padding: 4px 20px;
    font-weight: bold;
}

nav ul li a:hover {
    background-color: var(--color-bright-navy-blue);
    box-shadow: 0 0 20px 20px var(--color-bright-navy-blue);
}

/* Content */

#main{
    /* Setting up the background */
    background: rgb(255,255,255,0.9);
    
    box-shadow: 0px -100px 205px 200px rgba(255,255,255,0.9);
    
    /* Setting the card */
    margin-top: 500px;
    padding: 0 clamp(0px, 15vw, 1000px);
    padding-bottom: 200px;
}

#about section h2, h2{
    font-size: 3vw;
    background: linear-gradient(90deg, hsla(0, 100%, 50%, 1) 0%, hsla(29, 100%, 50%, 1) 100%);  
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



blockquote {
    background-color: #0000002e;
    padding: 2em;
    border: 3px solid var(--color-orange);
    font-size: 17px;
    font-style: italic;
    color: var(--color-oxford-blue);
    
    /*  Background Gradient  */
    background: hsla(5, 100%, 56%, 1);
    background: linear-gradient(0deg, hsla(5, 100%, 56%, 0.2) 0%, hsla(0, 1%, 31%, 0.1) 82%);
    background: -moz-linear-gradient(0deg, hsla(5, 100%, 56%, 0.2) 0%, hsla(0, 1%, 31%, 0.1) 82%);
    background: -webkit-linear-gradient(0deg, hsla(5, 100%, 56%, 0.2) 0%, hsla(0, 1%, 31%, 0.1) 82%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FF331F", endColorstr="#4F4E4E", GradientType=1 );
}

#about .container ul{
    list-style-type: none;
    margin: 30px -10vw;
    padding: 0;
    overflow: hidden;
    z-index: 3;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}


#about .container ul li {
    float: left;
    display: block;
    color: var(--color-font-secondary);
    text-align: center;
    margin: 5px;
    background-color:#117;
    text-decoration: none;
    transition: 0.1s;
    padding: 20px 15px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid #fff;
}

#guidelines .container{
    background-color: #fffc;
    text-align: center;
    padding: 40px;
    margin: 60px -10vw;
    border: 3px solid #00000066;
    border-style: dashed;
    column-width: 10vw;
    column-count: 2;
}

aside{
    padding: 1vw 30vw;
    padding-bottom: 90px;
    background-color: #fff9;
}

aside .container{
    background-color: aliceblue;
    padding: 40px;
    box-sizing: border-box;
    border: 1px solid #3334;
    border-radius: 5px;
}


/*----Footer----*/
footer.page-footer {
    margin-top: auto;
    background-color: #ffffffdf;
    box-shadow: 0px 0px 100px 70px rgba(255,255,255,0.75);
    padding: 3vw 15vw;
}