h1, h2, h3, h4, p, li {
    font-family: Roboto; 
}

h4 {font-size: 12px}

html {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    transition: 0.1s;
    background: url(https://images.pexels.com/photos/1586698/pexels-photo-1586698.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat center fixed;
    background-size: cover; 
    --accent: #07c901;
    --accent2: #2B0079;
    --accent3: #001279;
    --intenseaccent: #FF0000;
    --footer-height:70px;
    --max-login-width: clamp(400px,50vw, 1000px);
}


/*--------Home Page--------*/
#Container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw; 
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
}

#Logon {
    box-sizing: border-box;
    width: clamp(100vw,var(--max-login-width));
    height: calc(100vh - var(--footer-height));
    display: flex;
}

#LDetails {
    padding: 20px;
    padding-top: clamp(70px,15vh,200px);
    box-sizing: border-box;
    text-align: center;
    width: 400px;
    height: calc(100vh - var(--footer-height));
    margin: auto;
    box-shadow: 0 0 40px #555a;
    background: rgb(255,255,255,0.85);

    /*    Setting up the glassmorphic design */
    backdrop-filter: blur(10px) saturate(2);
}

#Logo {
    width: 100px;
}

#Hero {
    box-sizing: border-box;
    height: calc(100vh - var(--footer-height));
    width: calc(100vw - var(--max-login-width));
    display: flex;
}

/*
#HeroTxt {
    box-sizing: border-box;
    margin: auto;
    z-index: 3;
    height: 180px;
    padding: 20px;
    line-height: 1.5;
    font-size: clamp(20px,3vw,30px);
    background-color: #0000
}
*/

span{
    background-color: #000d;
    color: aliceblue;
    padding: 5px 0px;
    font-weight: 200;
}

em{
    background-color: #00f;
    color: aliceblue;
    padding: 5px 0px;
    font-weight: 200;
    font-style: normal
}

/*Buttons*/
#In {
    background-color: #2B0079;
    color: white;
}

#Up {
    background-color: #eee; 
}

#In:hover {background-color: #120032}

#Up:hover {background-color: #aaa}

.button{
    width: 300px;
    height: 50px;
    border: 1px solid #2B0079;
    border-radius: 10px;
    box-shadow: 0 0 10px darkgrey;
    font-weight: bold;
    font-size: 16px;  
    padding: 0 50px;
}

#Footer {
    box-sizing: border-box;
    grid-area: Footer; 
    text-align: center;
    padding: 5px 100px;
    border-top: 1px solid darkgrey;
    height: var(--footer-height);
    width: 100vw;
    margin: auto;
    background: #fff;
    z-index: 5;
}

a{
    text-decoration: none;
    color: var(--accent);
}

a:visited{
    color: var(--intenseaccent)
}


/*--------Sign In Page--------*/
    #LDetails * {
        transition: 0.1s;
    }

    .label {
        position: relative;
        top: -30px;
        font-weight: bold;
        font-family: roboto;
        font-size: 14px;
        color: #999;
    }

    .input {
        outline: none;
        box-sizing: border-box;
        margin-top: 10px;
        padding: 10px;
        border: 1px solid #555;
        border-radius: 10px;
        width: 300px;
        height: 40px;
    }

    .input:focus {
        border: 2px solid var(--accent2);
    }

    .input:focus + .label {
        position: relative;
        top: -60px;
        font-size: 14px;
        color: var(--accent2);
        font-weight: bold;
    }

    .input:valid + .label {
        position: relative;
        top: -60px;
        left: -100px;
        padding: 0 5px;
        font-size: 14px;
    }

    #SignIn{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        margin: auto;
        width: fit-content;
    }


/*--------Sign Up Page--------*/
    #SDetails{
        padding: 40px;
        padding-top: clamp(70px,15vh,200px);
        box-sizing: border-box;
        text-align: center;
        box-shadow: 0 0 40px #555a;
        background: rgb(255,255,255,0.85);
        width: 800px;
        overflow-y: auto;
        height: auto;
        margin: clamp(20px,5vh,200px);

        /*    Setting up the glassmorphic design */
        backdrop-filter: blur(10px) saturate(2);
    }

    .input-area{
        text-align: center;
        max-width: 300px;
        margin: 10px;
    }

    #SignUpForm{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
        margin: auto;
        width: fit-content;
    }

    #SignUp {
        box-sizing: border-box;
        width: clamp(100vw,var(--max-login-width));
        height: calc(100vh - var(--footer-height));
        display: flex;
    }




/*--------Media Queries--------*/
@media (max-width: 400px){
    body{
        --footer-height:70px;
    }
    
    .input{
        max-width: 250px;
    }   
    
    .input-area{
        margin: 0;
    }
    
    .button{
        width: 200px;
    }
}

@media (max-width: 800px){
    
    #SDetails{
        margin: 0;
        height: calc(100vh - var(--footer-height));
    }
    
    #Logon {
        width: 100vw;
        height: 400px;
    }

    #LDetails {
        padding: 40px;
        padding-top: 70px;
        width: 100vw;
        height: 420px;
        margin: 0;
    }

    #Logo {
        width: 100px;
    }

    #Hero {
        box-sizing: border-box;
        height: 300px;
        width: 100vw;
        display: flex;
    }

    #SignUp{
        width: 100vw;
        height: auto;
    }   
    
    #Footer{
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

@media (max-height:450px){
    #Logon {
        width: 100vw;
        height: 400px;
    }

    #LDetails {
        padding: 40px;
        padding-top: 70px;
        width: 100vw;
        height: 420px;
        margin: 0;
    }

    #Logo {
        width: 100px;
    }

    #Hero {
        box-sizing: border-box;
        height: 300px;
        width: 100vw;
        display: flex;
    }
    
    #SignUp{
        width: 100vw;
        height: auto;
    }   
}